<div class="reputation-sheet"> 
   {{#if (eq system.home (lowercase (localize "sofh.ui.actor.gryffindor")))}}
    {{> "systems/SofH/templates/tab/partial/relation-griffindor.hbs" }}
{{/if}}
{{#if (eq system.home (lowercase (localize "sofh.ui.actor.hufflepuff")))}}
    {{> "systems/SofH/templates/tab/partial/relation-hufflepuff.hbs" }}
{{/if}}
{{#if (eq system.home (lowercase (localize "sofh.ui.actor.ravenclaw")))}}
    {{> "systems/SofH/templates/tab/partial/relation-ravenclaw.hbs" }}
{{/if}}
{{#if (eq system.home (lowercase (localize "sofh.ui.actor.slytherin")))}}
    {{> "systems/SofH/templates/tab/partial/relation-slytherin.hbs" }}
{{/if}}


<div class="value-relations">
    <div class="relation-score-title">
    <h2>{{localize "sofh.ui.relationships.scores_title"}}</h2>
    <p>
        {{localize "sofh.ui.relationships.score_instructions"}}
    </p>
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value1 id="1"}}
        <input class="relation-name" type="text" name="system.relation.name1" id="1" value="{{system.relation.name1}}">{{system.relation.name1}}</textarea>
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value2 id="2" }}
        <input class="relation-name" type="text" name="system.relation.name2" id="2" value="{{system.relation.name2}}">{{system.relation.name2}}</textarea>
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value3 id="3"}}
        <input class="relation-name" type="text" name="system.relation.name3" id="3" value="{{system.relation.name3}}">{{system.relation.name3}}</textarea>
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value4 id="4"}}
        <input class="relation-name" type="text" name="system.relation.name4" id="4" value="{{system.relation.name4}}">{{system.relation.name4}} </textarea>
    </div>
    

</div>
</div>
