<div class="reputation-sheet"> 
   {{#if (eq system.home (lowercase (localize "sofh.ui.actor.gryffindor")))}}
    {{> "systems/SofH/templates/tab/partial/relation-griffindor.hbs" }}
{{/if}}
{{#if (eq system.home (lowercase (localize "sofh.ui.actor.hufflepuff")))}}
    {{> "systems/SofH/templates/tab/partial/relation-hufflepuff.hbs" }}
{{/if}}
{{#if (eq system.home (lowercase (localize "sofh.ui.actor.ravenclaw")))}}
    {{> "systems/SofH/templates/tab/partial/relation-ravenclaw.hbs" }}
{{/if}}
{{#if (eq system.home (lowercase (localize "sofh.ui.actor.slytherin")))}}
    {{> "systems/SofH/templates/tab/partial/relation-slytherin.hbs" }}
{{/if}}


<div class="value-relations">
    <div class="relation-score-title">
    <h2>{{localize "sofh.ui.relationships.scores_title"}}</h2>
    <p>
        {{localize "sofh.ui.relationships.score_instructions"}}
    </p>
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value1 id="1"}}
        <select name="system.relation.name1" class="relation-sleection">
            <option value=""></option>
         {{selectOptions (checkRelation characterRelation actor 1) selected=system.relation.name1 localize=false}}
         </select>
        
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value2 id="2" }}
        <select name="system.relation.name2" class="relation-sleection">
            <option value=""></option>
         {{selectOptions (checkRelation characterRelation actor 2) selected=system.relation.name2 localize=false}}
         </select>
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value3 id="3"}}
        <select name="system.relation.name3" class="relation-sleection">
            <option value=""></option>
         {{selectOptions (checkRelation characterRelation actor 3) selected=system.relation.name3 localize=false}}
         </select>
    </div>
    <div class="relation">
        {{> "systems/SofH/templates/tab/partial/dimond-button.hbs" value=system.relation.value4 id="4"}}
        <select name="system.relation.name4" class="relation-sleection">
            <option value=""></option>
         {{selectOptions (checkRelation characterRelation actor 4) selected=system.relation.name4 localize=false}}
         </select>
    </div>
    

</div>
</div>
