<div class="custom-house">
  <h4>{{localize "sofh.SETTINGS.newHouseName"}}<a><i class="fa fa-minus" data-action="removeHouseEq" style="margin-left:10px" data-tooltip="{{localize "sofh.SETTINGS.removeCustomHouse"}}"></i></a></h4>
  <input type="text" name="houseName" value="{{name}}">

  <label>{{localize "sofh.SETTINGS.newHouseQuestion"}}</label>
  <input type="text" name="houseQuestion" value="{{question1}}" />
  <input type="text" name="houseQuestion" value="{{question2}}" />
  <label>{{localize "sofh.SETTINGS.new-house-eq"}}
    <a><i class="fa fa-plus" data-action="addHouseEq"></i></a></label>
  {{#each houseEq}}
    <input type="text" name="houseEq" value="{{this}}" />
  {{/each}}

  <label>{{localize "sofh.SETTINGS.equipment"}}</label>
  <input type="text" name="equipment" value="{{equipment}}" />
  <label>{{localize "sofh.SETTINGS.timeToShine"}}</label>
  <input type="text" name="timeToShine" value="{{timeToShine}}" />
  <label>{{localize "sofh.SETTINGS.houseGoal"}}</label>
  <input type="text" name="houseGoal" value="{{houseGoal}}" />
</div>
<br />