 <section class="tab addsubject"   
    action-data="tab"  data-group="sheet"  data-tab="addsubject">

  <div class="custom-house-header">
    <h3>{{localize "sofh.SETTINGS.add-custom-subject-title"}} </h3>
    <label>{{localize "sofh.SETTINGS.replace_topic"}}<input name="replaceTopics" type="checkbox"{{#if data.replaceTopic}}checked{{/if}}></label>
  </div>
  <div class="custom-house-header subject1 flexcolumn">
    <h3>{{localize "sofh.SETTINGS.add-custom-subject1-title"}} <a><i class="fa fa-plus" data-action="addSubject1"></i></a></h3>
      {{#each data.topic1 as |subject|}}
      <div class= "custom-topic1">
          <input type="text" name="subject" value="{{subject}}">
          <a><i class="fa fa-trash"  data-action="removeTopic1"></i></a>
      </div>
            
     {{/each}}
     </div>
<div class="custom-house-header subject2 flexcolumn">
    <h3>{{localize "sofh.SETTINGS.add-custom-subject2-title"}} <a><i class="fa fa-plus" data-action="addSubject2"></i></a></h3>
    

      {{#each data.topic2 as |subject|}}
      <div class= "custom-topic1">
            <input type="text" name="subject2" value="{{subject}}">
            <a><i class="fa fa-trash"  data-action="removeTopic2"></i></a>
      </div>

     {{/each}}
       </div>
</section>