<div>
    <div>
        <label>{{localize "sofh.dialog.gainxp"}}</label>
    </div>
    <div class="flexcolumn">
        <div class="flexrow-sofh">
            <label>{{localize "sofh.dialog.xpquestion1"}}</label>
            <input type="checkbox"></input>
        </div>
        <div class="flexrow-sofh">
            <label>{{{localize "sofh.dialog.xpquestion2"}}}</label>
            <input type="checkbox"></input>
        </div>
        <div class="flexrow-sofh">
            <label>{{{localize "sofh.dialog.xpquestion3"}}}</label>
            <input type="checkbox"></input>
        </div>
    </div>
    <button type="button" class="send-btn-all" data-action="next">
          {{localize "sofh.dialog.next"}}
    </button>
</div>