<div>
  <label>{{{localize "sofh.dialog.gainReputation"}}}</label>
  <div class="flexcolumn">
    <div class="flexrow-sofh">
      <label>{{{localize "sofh.dialog.commonQuestion1"}}}</label>
      <input type="checkbox" />
    </div>
    <div class="flexrow-sofh">
      <label>{{{localize "sofh.dialog.commonQuestion2"}}}</label>
      <input type="checkbox" />
    </div>
    <div class="flexrow-sofh">
      <label>{{q1}}</label>
      <input type="checkbox" />
    </div>
    <div class="flexrow-sofh">
      <label>{{q2}}</label>
      <input type="checkbox" />
    </div>
  </div>
  <button type="button" class="send-btn-all" data-action="next">
    {{localize "sofh.dialog.subbmit"}}
  </button>
</div>