<div class="sofh second-row-dialog">
    <div class="move-elements">
             
        <div class="description-sheet"> 
           <h2 class="move_type description-label ">{{localize "sofh.item.descriptionlabel"}}</h2>       
            {{editor system.description target="system.description" engine="prosemirror" button=false owner=owner editable=false}}
        </div>
        {{#if system.housequestion}}
        <div class="move-is-ralted-to-house-guestion">
            {{localize "sofh.move.isRaltedToHouse"}}
        </div>    
        {{/if}}
        {{#if (eq system.havequestion true)}} 
            <div class="moves-question">
                <h2 class="move_type description-label ">{{localize "sofh.item.question"}}</h2>
                {{#each system.question as |question index|}}
                <div class="question-sheet">
                    <textarea class="question" name="system.question.{{@index}}.description" disabled>{{question.description}}</textarea>
                    <select id="question-type" name="system.question.{{@index}}.impact" disabled>
                        <option value="true" {{#if (eq question.impact "true")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.positiveOption'}}</option>
                        <option value="false" {{#if (eq question.impact "false")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.negativeOption'}}</option>
                    </select>
                </div>
                {{/each}}
            </div>
       {{/if}}
        {{#if (eq system.realtedtoothermoves true)}} 
            <h2 class="move_type description-label ">{{localize "sofh.item.realtedtoothermoves"}}</h2>
            <div class="moves-realtedtoothermoves">
                <textarea class="relatedmoves" name="system.relatedmoves" disabled>{{system.relatedmoves}}</textarea>
            </div>
        {{/if}}
        {{#if (eq system.isrolled true)}} 
        <h2 class="move_type description-label ">{{localize "sofh.item.isrolled"}}</h2>
        <div class="moves-isrolled">    
            <div class="roll-resuilt-label">
                <label for="above10">{{localize 'sofh.ui.moves.resultAbove10'}}</label>
                <label for="7to9">{{localize 'sofh.ui.moves.result7to9'}}</label>
                <label for="below7">{{localize 'sofh.ui.moves.resultBelow7'}}</label>
            </div>
            <div class="roll-resoult-text">
                {{editor system.above10 target="system.above10"  engine="prosemirror" button=false owner=owner editable=false class="roll-resoult-above10"}}
                {{editor system.7to9 target="system.7to9"  engine="prosemirror" button=false owner=owner editable=false class="roll-resoult-7to9"}}
                {{editor system.below7 target="system.below7" engine="prosemirror" button=false owner=owner editable=false  class="roll-resoult-below7"}}
            </div>
        </div>
        {{/if}}
         {{#if (eq system.stringsrelated true)}}
                    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relevantStringsTitle'}}</h2>
                    <div class="strings-sheet-roll">
                        <select class="roll-strings">
                            <option value="">{{localize 'sofh.ui.rolldialog.noneOption'}}</option>
                           {{selectOptions actor.system.strings valueAttr="name"}}
                        </select>
                    </div>
                {{/if}}
    </div>
</div>

