<form class="sofh{{cssClass}}" autocomplete="off">
    {{#if item.system.housequestion}}
    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.houseQuestionTitle'}}</h2>

    <div class="house-question-application">
        <div class="actor">{{actor.system.housequestion}}</div>
        <div class="is-apply">
            <label class="housequestion-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabelHouse'}}</label>
            <input type="checkbox" class="circle-checkbox-housequestion">
        </div>
    </div>
    {{/if}}

 
    <div class="item">
    {{#if item.system.havequestion}}    
        {{#if (eq (numberOfQuestion item.system) false)}}
            <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.moveQuestionTitle'}}</h2>
            {{#each item.system.question as |question index|}}
    
                <div class="question-sheet-roll">
                    <div class="question description">{{question.description}}</div>
                    <select class="question-impact" name="system.question.{{@index}}.impact" disabled>
                        <option value="true" {{#if (eq question.impact "true")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.positiveOption'}}</option>
                        <option value="false" {{#if (eq question.impact "false")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.negativeOption'}}</option>
                    </select>
                    <div class="questionc- hcekbox">
                        <label class="question-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabel'}}</label>
                        <input type="checkbox" class="circle-checkbox-isapply">
                    </div>
                </div>
            {{/each}}
        {{else}}
            <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.moveQuestionTitle'}}</h2>
            {{#each item.system.question as |question index|}}
                {{#if (eq question.impact "false")}}
                    <div class="question-sheet-roll">
                        <div class="question description">{{question.description}}</div>
                        <select class="question-impact" name="system.question.{{@index}}.impact" disabled>
                            <option value="true" {{#if (eq question.impact "true")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.positiveOption'}}</option>
                            <option value="false" {{#if (eq question.impact "false")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.negativeOption'}}</option>
                        </select>
                        <div class="questionc- hcekbox">
                            <label class="question-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabel'}}</label>
                            <input type="checkbox" class="circle-checkbox-isapply">
                        </div>
                    </div>
                {{/if}}
            {{/each}}
            <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.pickOneAproach'}}</h2>
            {{#each item.system.question as |question index|}}
                {{#if (eq question.impact "true")}}
                    <div class="question-sheet-roll-muptiple">
                        <div class="question description">{{question.description}}</div>
                        <select class="question-impact" name="system.question.{{@index}}.impact" disabled>
                            <option value="true" {{#if (eq question.impact "true")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.positiveOption'}}</option>
                            <option value="false" {{#if (eq question.impact "false")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.negativeOption'}}</option>
                        </select>
                        <div class="questionc- hcekbox">
                            <label class="question-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabel'}}</label>
                            <input type="checkbox" class="circle-checkbox-isapply">
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/if}}
    {{#each relatedMoves as |relatedMove|}}
        {{#if relatedMove.system.action.addQuestion.isUse}}
            <h2 class="h2-roll special">{{{localize  "sofh.ui.rolldialog.additionQuestionFromReletedMoves" name=relatedMove.name}}}</h2>
            {{#each relatedMove.system.additionalQuestion as |question|}}
                <div class="question-sheet-roll">
                    <div class="question description">{{{question.question}}}</div>
                        <select class="question-impact" disabled>
                            <option value="true" selected>{{localize 'sofh.ui.rolldialog.positiveOption'}}</option>
                        </select>
                        <div class="questionc- hcekbox">
                            <label class="question-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabel'}}</label>
                            <input type="checkbox" class="circle-checkbox-isapply">
                        </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    {{/each}}
    </div>
    {{#if item.system.relationrelated}}
        <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relevantRelationTitle'}}</h2>
        <div class="relation-roll">
            <select class="relation-chosen" value="key" name="value">
                <option value="">{{localize 'sofh.ui.rolldialog.noneOption'}}</option>
                {{selectOptions (selectRelevantRelation actor)  localize=false}}
            
            </select>
        </div>
    {{/if}}
    {{#if item.system.cluerelated}}
        <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relatedClue'}}</h2>
        <div class="known-clue">            
            {{showAllKnownClue clueID complexity}}
        </div>
    {{/if}}
    {{#if areRelatedMoves}}
        <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relatedMoves'}}</h2>
    {{/if}}
    {{#each relatedMoves as |relatedMove|}}
        {{#if relatedMove.system.action.riseRollResults.isUse}}
        <div class="riseResult">
            <label class="question description">{{localize  "sofh.ui.rolldialog.relatedMoveRiseResult" name=relatedMove.name}}</label>
            <input type="checkbox" class="circle-checkbox-isapply" data-movename="{{relatedMove.name}}" data-moveid="{{relatedMove.id}}">
        </div>
        {{/if}}
        {{#if relatedMove.system.action.modifyEffect.isUse}}
        <div class="modifyEffect">
            <label class="question description">{{localize  "sofh.ui.rolldialog.relatedMoveModifyEffects" name=relatedMove.name}}</label>
            <input type="checkbox" class="circle-checkbox-isapply" data-moveid="{{relatedMove.id}}">
        </div>
        {{/if}}
    {{/each}}
    {{#if (eq item.system.cluerelated false)}}
        <h3 class="other-factor-h3">{{localize "sofh.ui.dialog.other_factor"}}</h3>
        <div class="other-factor" style="display: none">
            <div class="condition-impact">
                <h2 class="h2-roll-first">{{localize 'sofh.ui.rolldialog.conditionImpactTitle'}}</h2>
                <div class="oponent-have-condition">
                    <label class="oponent-have-condition-label">{{localize "sofh.ui.dialog.youroponenthavecondidtion"}}</label>
                    <input type="checkbox" class="oponent-have-condition-checkbox">
                </div>
                {{#if (ifCondition actor.system.condition) }}
                    <div class="conditions-roll-toprow">
                        <label class="condition-description">{{localize 'sofh.ui.rolldialog.conditionDescriptionLabel'}}</label>
                        <label class="condition-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabel'}}</label>
                    </div>
                    {{#each actor.system.condition as |condition index|}}
                        {{#if (and (ne condition.text "") (ne condition.type "") (ne condition.name ""))}}
                            <div class="conditions-roll-detail">
                                <div class="question description">{{condition.text}}</div>
                                <input type="checkbox" class="circle-checkbox-isapply">
                            </div>
                        {{/if}}
                    {{/each}}
                {{/if}}
                <div class="item">
                {{#if item.system.stringsrelated}}
                    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relevantStringsTitle'}}</h2>
                    <div class="strings-sheet-roll">
                        <select class="roll-strings">
                            <option value="">{{localize 'sofh.ui.rolldialog.noneOption'}}</option>
                            {{selectOptions actor.system.strings valueAttr="name"}}
                        </select>
                    </div>
                {{/if}}
                {{#if (haveAdvantages actor.system.advanatage)}}
                <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relevantAdvantages'}}</h2>
                    <div class="advantages-sheet-roll">
                        <select class="roll-advantages">
                            <option value="">{{localize 'sofh.ui.rolldialog.noneOption'}}</option>
                            {{selectOptions actor.system.advanatage valueAttr="description"}}
                        </select>
                    </div>

                {{/if}}
                <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.otherModsTitle'}}</h2>
                <div class="others-mods"></div>
                <div class="roll-mod-other">
                    <label class="disadvantage">{{localize 'sofh.ui.rolldialog.disadvantageLabel'}}</label>
                    <label class="normal">{{localize 'sofh.ui.rolldialog.normalLabel'}}</label>
                    <label class="advantage">{{localize 'sofh.ui.rolldialog.advantageLabel'}}</label>
                </div>
                {{rangePicker name="ad-disad" value=bar min=-1 max=1 step=1 span=none}}
            </div>
        </div>
    {{/if}}
</form>