{{#if item.system.housequestion}}
<h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.houseQuestionTitle'}}</h2>
<div class="actor">{{actor.system.housequestion}}</div>
<div class="house-question-application">
    <label class="housequestion-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabelHouse'}}</label>
    <input type="checkbox" class="circle-checkbox-housequestion">
</div>
{{/if}}

{{#if (ifCondition actor.system.condition) }}
<div class="condition-impact">
    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.conditionImpactTitle'}}</h2>
    <div class="conditions-roll-toprow">
        <label class="condition-description">{{localize 'sofh.ui.rolldialog.conditionDescriptionLabel'}}</label>
        <label class="condition-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabel'}}</label>
    </div>

    {{#each actor.system.condition as |condition index|}}
        {{#if (and (ne condition.text "") (ne condition.type "") (ne condition.name ""))}}
        <div class="conditions-roll-detail">
            <div class="question description">{{condition.text}}</div>
            <input type="checkbox" class="circle-checkbox-isapply">
        </div>
        {{/if}}
    {{/each}}
</div>
{{/if}}

<div class="item">
    {{#if item.system.havequestion}}
    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.moveQuestionTitle'}}</h2>
    <div class="question-sheet-roll--toprow">
        <label class="question-description">{{localize 'sofh.ui.rolldialog.conditionDescriptionLabel'}}</label>
        <label class="question-impact">{{localize 'sofh.ui.rolldialog.questionImpactLabel'}}</label>
        <label class="question-isapply">{{localize 'sofh.ui.rolldialog.isApplyLabel'}}</label>
    </div>
    {{/if}}
    {{#each item.system.question as |question index|}}
    <div class="question-sheet-roll">
        <div class="question description">{{question.description}}</div>
        <select class="question-impact" name="system.question.{{@index}}.impact" disabled>
            <option value="true" {{#if (eq question.impact "true")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.positiveOption'}}</option>
            <option value="false" {{#if (eq question.impact "false")}}selected{{/if}}>{{localize 'sofh.ui.rolldialog.negativeOption'}}</option>
        </select>
        <input type="checkbox" class="circle-checkbox-isapply">
    </div>
    {{/each}}

    {{#if item.system.relationrelated}}
    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relevantRelationTitle'}}</h2>
    <div class="relation-roll">
        <select class="relation-chosen">
            <option value="">{{localize 'sofh.ui.rolldialog.noneOption'}}</option>
            <option value="{{actor.system.relation.value1}}">{{actor.system.relation.name1}}</option>
            <option value="{{actor.system.relation.value2}}">{{actor.system.relation.name2}}</option>
            <option value="{{actor.system.relation.value3}}">{{actor.system.relation.name3}}</option>
            <option value="{{actor.system.relation.value4}}">{{actor.system.relation.name4}}</option>
        </select>
    </div>
    {{/if}}

    {{#if item.system.stringsrelated}}
    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.relevantStringsTitle'}}</h2>
    <div class="strings-sheet-roll">
        <select class="roll-strings">
            <option value="">{{localize 'sofh.ui.rolldialog.noneOption'}}</option>
            {{selectOptions actor.system.strings valueAttr="name"}}
        </select>
    </div>
    {{/if}}

    <h2 class="h2-roll">{{localize 'sofh.ui.rolldialog.otherModsTitle'}}</h2>
    <div class="others-mods">
        <div class="labels-others">
            <label class="modyficator">{{localize 'sofh.ui.rolldialog.numericModifierLabel'}}</label>
        </div>
        <div class="inputs-others">
            <input type="number" class="numeric-mod">
        </div>
    </div>

    <div class="roll-mod-other">
        <label class="disadvantage">{{localize 'sofh.ui.rolldialog.disadvantageLabel'}}</label>
        <label class="normal">{{localize 'sofh.ui.rolldialog.normalLabel'}}</label>
        <label class="advantage">{{localize 'sofh.ui.rolldialog.advantageLabel'}}</label>
    </div>

    {{rangePicker name="ad-disad" value=bar min=-1 max=1 step=1 span=none}}
</div>
