<form class="sofh{{cssClass}}" autocomplete="off">
    <p>{{localize "sofh.ui.xpmasage"}}</p>
    <form class="xp-options">
        <div class="radio-group">
            <input type="radio" id="move_from_house_1" name="advancement" value="Take a new move from your house">
            <label for="move_from_house_1">{{localize "sofh.ui.xpoptin1"}}</label>
        </div>
        <div class="radio-group">
            <input type="radio" id="move_from_house_2" name="advancement" value="Take a new move from your house">
            <label for="move_from_house_2">{{localize "sofh.ui.xpoptin2"}}</label>
        </div>
        <div class="radio-group">
            <input type="radio" id="move_from_different_house_1" name="advancement" value="Take a move from a different house">
            <label for="move_from_different_house_1">{{localize "sofh.ui.xpoptin3"}}</label>
        </div>
        <div class="radio-group">
            <input type="radio" id="move_from_different_house_2" name="advancement" value="Take a move from a different house">
            <label for="move_from_different_house_2">{{localize "sofh.ui.xpoptin4"}}</label>
        </div>
        <div class="radio-group">
            <input type="radio" id="choose_props" name="advancement" value="Choose 3 more props">
            <label for="choose_props">{{localize "sofh.ui.xpoptin5"}}</label>
        </div>
    </form>



</form>