
    <div class="diamond" >
        <div class="right-top {{#if (eq value -2)}}clicked{{/if}}" id="{{id}}">
            <p class="minustwo" id="{{id}}">-2</p>
        </div>
        <div class="left-top {{#if (eq value 2)}}clicked{{/if}}" id="{{id}}">
            <p class="two" id="{{id}}" >+2</p>
        </div>
        <div class="right-bottom {{#if (eq value 1)}}clicked{{/if}}" id="{{id}}">
           <p class="zero"id="{{id}}" >+1</p>
        </div>
        <div class="center {{#if (eq value 0)}}clicked{{/if}}" id="{{id}}">
            <p class="zero" id="{{id}}">0</p>
        </div>
        <div class="left-bottom {{#if (eq value -1)}}clicked{{/if}}" id="{{id}}">
            <p class="one" id="{{id}}">-1</p>
        </div>
    </div>

