 
    <div class="descriptionm-relations">
        <h2>{{localize "sofh.ui.relationships.title"}}</h2>
        <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_players"}}</p>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.deepest_secret_known_by"}}</p>
            <input name="system.deepest_secret_known_by" type="text" value="{{system.deepest_secret_known_by}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.insulted_but_given_chance"}}</p>
            <input name="system.insulted_but_given_chance" type="text" value="{{system.insulted_but_given_chance}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.lost_valuable_returned"}}</p>
            <input name="system.lost_valuable_returned" type="text" value="{{system.lost_valuable_returned}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.comforted_in_vulnerability"}}</p>
            <input name="system.comforted_in_vulnerability" type="text" value="{{system.comforted_in_vulnerability}}">
        </div>

        <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_characters"}}</p>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.best_friend"}}</p>
            <input name="system.best_friend" type="text" value="{{system.best_friend}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.worst_enemy"}}</p>
            <input name="system.worst_enemy" type="text" value="{{system.worst_enemy}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.current_crush"}}</p>
            <input name="system.current_crush" type="text" value="{{system.current_crush}}">
        </div>
    </div>

