 
    <div class="descriptionm-relations">
        <h2>{{localize "sofh.ui.relationships.title"}}</h2>
        <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_players"}}</p>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.deepest_secret_known_by"}}</p>
            <input name="system.deepest_secret_known_by" type="text" value="{{system.deepest_secret_known_by}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.insulted_but_given_chance"}}</p>
            <input name="system.insulted_but_given_chance" type="text" value="{{system.insulted_but_given_chance}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.lost_valuable_returned"}}</p>
            <input name="system.lost_valuable_returned" type="text" value="{{system.lost_valuable_returned}}">
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.comforted_in_vulnerability"}}</p>
            <input name="system.comforted_in_vulnerability" type="text" value="{{system.comforted_in_vulnerability}}">
        </div>

        <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_characters"}}</p>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.slytherin1"}}</p>
            <textarea name="system.relation1" type="text" value="{{system.relation1}}">{{system.relation1}}</textarea>
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.slytherin2"}}</p>
            <textarea name="system.relation2" type="text" value="{{system.relation2}}">{{system.relation2}}</textarea>
        </div>

        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.slytherin3"}}</p>
            <textarea name="system.relation3" type="text" value="{{system.relation3}}">{{system.relation3}}</textarea>
        </div>
        <div class="relationship">
            <p>● {{localize "sofh.ui.relationships.slytherin4"}}</p>
            <textarea name="system.relation4" type="text" value="{{system.relation4}}">{{system.relation4}}</textarea>
        </div>
    </div>

