
    <div class="descriptionm-relations">
    <h2>{{localize "sofh.ui.relationships.title"}}</h2>
    <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_players"}}</p>
    

    <div class="relationship">
        <p>● {{localize "sofh.ui.relationships.caught_breaking_rules_with"}}</p>
        <input name="system.caught_breaking_rules_with" type="text" value="{{system.caught_breaking_rules_with}}">
    </div>

    <div class="relationship">
        <p>● {{localize "sofh.ui.relationships.trying_to_impress"}}</p>
        <input name="system.trying_to_impress" type="text" value="{{system.trying_to_impress}}">
    </div>

    <div class="relationship">
        <p>● {{localize "sofh.ui.relationships.feel_compelled_to_protect"}}</p>
        <input name="system.feel_compelled_to_protect" type="text" value="{{system.feel_compelled_to_protect}}">
    </div>

    <div class="relationship">
        <p>● {{localize "sofh.ui.relationships.snuck_into_forest_with"}}</p>
        <input name="system.snuck_into_forest_with" type="text" value="{{system.snuck_into_forest_with}}">
    </div>

    <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_characters"}}</p>
    

    <div class="relationship">
        <p>● {{localize "sofh.ui.relationships.best_friend"}}</p>
        <input name="system.best_friend" type="text" value="{{system.best_friend}}">
    </div>

    <div class="relationship">
        <p>● {{localize "sofh.ui.relationships.worst_enemy_or_rival"}}</p>
        <input name="system.worst_enemy_or_rival" type="text" value="{{system.worst_enemy_or_rival}}">
    </div>

    <div class="relationship">
        <p>● {{localize "sofh.ui.relationships.current_crush"}}</p>
        <input name="system.current_crush" type="text" value="{{system.current_crush}}">
    </div>

    
</div>