<div class="descriptionm-relations">
  <h2>{{localize "sofh.ui.relationships.title"}}</h2>
  <p class="instruction">{{localize
      "sofh.ui.instructions.fill_in_with_players"
    }}</p>

  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.long_time_crush"}}</p>
    <input
      name="system.long_time_crush"
      type="text"
      value="{{system.long_time_crush}}"
    />
  </div>

  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.survived_with_help"}}</p>
    <input
      name="system.survived_with_help"
      type="text"
      value="{{system.survived_with_help}}"
    />
  </div>

  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.snuck_out_with"}}</p>
    <input
      name="system.snuck_out_with"
      type="text"
      value="{{system.snuck_out_with}}"
    />
  </div>

  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.trust_with_secrets"}}</p>
    <input
      name="system.trust_with_secrets"
      type="text"
      value="{{system.trust_with_secrets}}"
    />
  </div>

  <p class="instruction">{{localize
      "sofh.ui.instructions.fill_in_with_characters"
    }}</p>

  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.hufflepuff1"}}</p>
    <textarea
      name="system.relation1"
      type="text"
      value="{{system.relation1}}"
    >{{system.relation1}}</textarea>
  </div>

  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.hufflepuff2"}}</p>
    <textarea
      name="system.relation2"
      type="text"
      value="{{system.relation2}}"
    >{{system.relation2}}</textarea>
  </div>

  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.hufflepuff3"}}</p>
    <textarea
      name="system.relation3"
      type="text"
      value="{{system.relation3}}"
    >{{system.relation3}}</textarea>
  </div>
  <div class="relationship">
    <p>● {{localize "sofh.ui.relationships.hufflepuff4"}}</p>
    <textarea
      name="system.relation4"
      type="text"
      value="{{system.relation4}}"
    >{{system.relation4}}</textarea>
  </div>

</div>