 
    <div class="descriptionm-relations">
        <h2>{{localize "sofh.ui.relationships.title"}}</h2>
        <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_players"}}</p>

        <div class="relationship">
            <p>● <input name="system.relation_question1" type="text" placeholder="{{localize "sofh.ui.relationships.relationQuestion"}}" value="{{system.relation_question1}}"></p>
            <input name="system.deepest_secret_known_by" type="text" value="{{system.deepest_secret_known_by}}">
        </div>

        <div class="relationship">
             <p>● <input name="system.relation_question2" type="text" placeholder="{{localize "sofh.ui.relationships.relationQuestion"}}" value="{{system.relation_question2}}"></p>
            <input name="system.insulted_but_given_chance" type="text" value="{{system.insulted_but_given_chance}}">
        </div>

        <div class="relationship">
             <p>● <input name="system.relation_question3" type="text" placeholder="{{localize "sofh.ui.relationships.relationQuestion"}}" value="{{system.relation_question3}}"></p>
            <input name="system.lost_valuable_returned" type="text" value="{{system.lost_valuable_returned}}">
        </div>

        <div class="relationship">
             <p>● <input name="system.relation_question4" type="text" placeholder="{{localize "sofh.ui.relationships.relationQuestion"}}" value="{{system.relation_question4}}"></p>
            <input name="system.comforted_in_vulnerability" type="text" value="{{system.comforted_in_vulnerability}}">
        </div>

        <p class="instruction">{{localize "sofh.ui.instructions.fill_in_with_characters"}}</p>
            <div class="relationship">
            <p>● <textarea name="system.relation1q" type="text" value="{{system.relation1q}}" placeholder="{{localize "sofh.ui.relationships.question"}}">{{system.relation1q}}</textarea></p>
            <textarea name="system.relation1" type="text" value="{{system.relation1}}">{{system.relation1}}</textarea>
        </div>

        <div class="relationship">
            <p>● <textarea name="system.relation2q" type="text" value="{{system.relation2q}}" placeholder="{{localize "sofh.ui.relationships.question"}}">{{system.relation2q}}</textarea></p>
            <textarea name="system.relation2" type="text" value="{{system.relation2}}">{{system.relation2}}</textarea>
        </div>

        <div class="relationship">
            <p>● <textarea name="system.relation3q" type="text" value="{{system.relation3q}}" placeholder="{{localize "sofh.ui.relationships.question"}}">{{system.relation3q}}</textarea></p>
            <textarea name="system.relation3" type="text" value="{{system.relation3}}">{{system.relation3}}</textarea>
        </div>
        <div class="relationship">
            <p>● <textarea name="system.relation4q" type="text" value="{{system.relation4q}}" placeholder="{{localize "sofh.ui.relationships.question"}}">{{system.relation4q}}</textarea></p>
            <textarea name="system.relation4" type="text" value="{{system.relation4}}">{{system.relation4}}</textarea>
        </div>
    </div>

